[workspace.package]
version = "0.1.0"
edition = "2021"
rust-version = "1.82"
description = "Integration of the Kakarot Ethereum execution layer in the Reth client."
homepage = "https://github.com/kkrt-labs"
repository = "https://github.com/kkrt-labs/keth"
readme = "./README.md"
license = "MIT"
exclude = [".github/"]

[workspace]
members = ["bin/keth", "crates/node", "crates/pool", "crates/exex"]

# Explicitly set the resolver to version 2, which is the default for packages with edition >= 2021
# https://doc.rust-lang.org/edition-guide/rust-2021/default-cargo-resolver.html
resolver = "2"

[workspace.lints]
rust.missing_debug_implementations = "warn"
rust.unreachable_pub = "warn"
rust.unused_must_use = "deny"
rust.rust_2018_idioms = { level = "deny", priority = -1 }
rustdoc.all = "warn"

[workspace.lints.clippy]
# all lints that are on by default (correctness, suspicious, style, complexity, perf)
all = { level = "warn", priority = -1 }

# new lints that are still under development
nursery = { level = "warn", priority = -1 }
# avoid lints that are too pedantic
future_not_send = "allow"
fallible_impl_from = "allow"

# lints which are rather strict or have occasional false positives
pedantic = { level = "warn", priority = -1 }
# avoid lints that are too pedantic
must_use_candidate = "allow"
cast_possible_truncation = "allow"
cast_precision_loss = "allow"
missing_errors_doc = "allow"
missing_panics_doc = "allow"
default_trait_access = "allow"
module_name_repetitions = "allow"

[workspace.dependencies]
kakarot-node = { path = "crates/node" }
kakarot-pool = { path = "crates/pool" }
kakarot-exex = { path = "crates/exex" }

# Reth
reth-transaction-pool = { git = "https://github.com/paradigmxyz/reth.git", tag = "v1.1.2" }
reth-primitives = { git = "https://github.com/paradigmxyz/reth.git", tag = "v1.1.2" }
reth-chainspec = { git = "https://github.com/paradigmxyz/reth.git", tag = "v1.1.2" }
reth-node-ethereum = { git = "https://github.com/paradigmxyz/reth.git", tag = "v1.1.2" }
reth-node-builder = { git = "https://github.com/paradigmxyz/reth.git", tag = "v1.1.2" }
reth-node-api = { git = "https://github.com/paradigmxyz/reth.git", tag = "v1.1.2" }
reth-ethereum-engine-primitives = { git = "https://github.com/paradigmxyz/reth.git", tag = "v1.1.2" }
reth-exex = { git = "https://github.com/paradigmxyz/reth", tag = "v1.1.2", features = [
  "serde",
] }
reth-execution-types = { git = "https://github.com/paradigmxyz/reth.git", tag = "v1.1.2" }
reth-tracing = { git = "https://github.com/paradigmxyz/reth.git", tag = "v1.1.2" }
reth-revm = { git = "https://github.com/paradigmxyz/reth.git", tag = "v1.1.2" }
reth-execution-errors = { git = "https://github.com/paradigmxyz/reth.git", tag = "v1.1.2" }
reth-provider = { git = "https://github.com/paradigmxyz/reth.git", tag = "v1.1.2" }
reth = { git = "https://github.com/paradigmxyz/reth", tag = "v1.1.2" }
reth-trie-db = { git = "https://github.com/paradigmxyz/reth.git", tag = "v1.1.2" }
reth-exex-test-utils = { git = "https://github.com/paradigmxyz/reth", tag = "v1.1.2" }
reth-testing-utils = { git = "https://github.com/paradigmxyz/reth", tag = "v1.1.2" }
revm-primitives = { version = "14.0.0", features = [
  "std",
], default-features = false }

alloy-primitives = { version = "0.8.11", default-features = false }
alloy-genesis = { version = "0.6.4", default-features = false }
alloy-consensus = { version = "0.6.4", default-features = false }
alloy-rlp = { version = "0.3.4", default-features = false }
alloy-eips = { version = "0.6.4", default-features = false }

serde = { version = "1.0", default-features = false }
eyre = "0.6"
once_cell = "1"
serde_json = "1"
tokio = { version = "1.0", features = ["full"] }
futures = "0.3"
proptest = "1.0"
arbitrary = "1.3"
rand = "0.8.5"
thiserror = "1.0"
url = "2.5"
reqwest = { version = "0.12", features = ["multipart"] }
mockito = "1"
