{% for struct in structs if not struct.name == "UInt384" %}
struct {{ struct.name }} {
    {% for member in struct.members -%}
        {{ member.name }}: {{ "UInt384*" if member.type == "felt" or member.nested.name == "UInt384" else member.nested.name }},
{% endfor -%}
}
{% endfor -%}
