---
name: Workflow - Pull Request

on: [pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: read-all

jobs:
  rust-tests:
    uses: ./.github/workflows/rust_tests.yml

  python-unit-tests:
    uses: ./.github/workflows/python_tests.yml
    with:
      hypothesis-profile: "ci"
      coverage-flags: "ci-unit"
      parallelism: logical
      # Ignore ef-test run in this job (handled in the ef-tests job)
      pytest-add-params: "-m 'not slow' --ignore-glob=cairo/tests/ef_tests/"

  python-ef-tests:
    uses: ./.github/workflows/python_tests.yml
    with:
      hypothesis-profile: "ci"
      parallelism: "48"
      pytest-add-params:
        "-m 'not slow' --max-tests=5000 --randomly-seed=$GITHUB_RUN_ID
        cairo/tests/ef_tests/"
      coverage-flags: "ci-ef-tests"
