---
name: Workflow - Push
on:
  push:
    branches: [main]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: read-all

jobs:
  rust-tests:
    uses: ./.github/workflows/rust_tests.yml

  python-tests:
    uses: ./.github/workflows/python_tests.yml
    with:
      hypothesis-profile: "ci"
      coverage-flags: "ci-unit"
