name: Python CI

on:
  workflow_call:

permissions: read-all

jobs:
  test:
    name: Python
    runs-on: ubuntu-latest-64-cores
    env:
      HYPOTHESIS_PROFILE: ci
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.10.14
      - run: rustup update
      - name: Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: "true"
      - run: curl -LsSf https://astral.sh/uv/install.sh | sh
      - id: cache-venv
        uses: actions/cache@v4
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ hashFiles('**/poetry.lock') }}
      - if: steps.cache-venv.outputs.cache-hit != 'true'
        run: cd cairo && uv sync --locked
      - run: uv run pytest -n logical
