name: Python Tests

permissions: read-all

on:
  workflow_call:
    inputs:
      hypothesis-profile:
        required: true
        type: string
      pytest-add-params:
        required: false
        type: string
        default: ""
      parallelism:
        required: false
        type: number
        default: 40
      coverage-flags:
        required: false
        type: string
        default: "ci-unit"

env:
  CAIRO_PATH: cairo:tests:python/cairo-ec/src:python/cairo-addons/src:python/cairo-core/src:python/mpt/src:.venv/lib/python3.10/site-packages/src
  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  CHAIN_RPC_URL: ${{ secrets.CHAIN_RPC_URL }}
  HYPOTHESIS_PROFILE: ${{ inputs.hypothesis-profile }}

jobs:
  python-tests:
    runs-on: ubuntu-latest-64-cores
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/setup-environment

      - name: Run Python tests
        run: |
          uv run pytest -n ${{ inputs.parallelism }} --durations=0 -v -s --log-cli-level=DEBUG --no-skip-cached-tests ${{ inputs.pytest-add-params }}

      - name: Upload coverage
        if:
          inputs.coverage-flags != '' &&
          (contains(github.event.pull_request.files.*.path, 'cairo/') ||
          contains(github.event.pull_request.files.*.path, 'python/'))
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
          files: ./coverage/**/*.json
          flags: ${{ inputs.coverage-flags }}
