name: Python CI

on:
  workflow_call:

permissions: read-all

jobs:
  test:
    name: Python
    runs-on: ubuntu-latest-64-cores
    env:
      HYPOTHESIS_PROFILE: ci
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      CAIRO_PATH: cairo:tests:python/cairo-ec/src:python/cairo-addons/src:python/cairo-core/src
    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true
          cache-dependency-glob: uv.lock

      - uses: actions/setup-python@v5
        with:
          python-version-file: .python-version

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Install forge deps
        run: forge install

      - name: Build solidity contracts
        run: forge build

      - name: Restore pytest cache
        id: cache-pytest-restore
        uses: actions/cache/restore@v4
        with:
          path: .pytest_cache
          key: ${{ runner.os }}-pytest-cache-${{ github.run_id }}
          restore-keys: ${{ runner.os }}-pytest-cache-

      # TODO: remove --no-skip-cached-tests if/when we cache coverage
      # <https://github.com/kkrt-labs/keth/issues/694>
      - name: Run tests without caching
        run: |
          uv run --reinstall pytest -n logical --durations=0 -v -s --log-cli-level=DEBUG --no-skip-cached-tests

      - uses: actions/cache/save@v4
        with:
          path: .pytest_cache
          key: ${{ runner.os }}-pytest-cache-${{ github.run_id }}

      - name: Upload coverage
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
          files: ./coverage/**/*.json
