name: Rust CI

on:
  workflow_call:

permissions: read-all

jobs:
  test:
    name: Rust
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Rust toolchain
        run: rustup show

      - name: Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: "true"
          shared-key: "rust-cache"

      - name: Run tests
        run: cargo test --all-features
