name: Trunk

on:
  workflow_call:

permissions:
  checks: write # For trunk to post annotations
  contents: read # For repo checkout

jobs:
  trunk-check:
    name: Trunk
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - run: rustup update
      - name: Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: "true"

      - name: Set up Python 3.10.14
        uses: actions/setup-python@v5
        with:
          python-version: 3.10.14
          cache: pip
      - run: pip install cairo-lang==0.13.2 sympy==1.11.1

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Trunk Check
        uses: trunk-io/trunk-action@v1
